#submitBox {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .98;
    z-index: 1;
}
#submitForm {
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
}
#map {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.under-construction {
    width: 100%;
    --yellow:       255, 215, 0;
    background: rgba(var(--yellow), 0.4);
    position: absolute;
    z-index: 2;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    z-index: -1;
}